<!--
    Name: Ethan Deister, Sajal Khadgi
    Description: The homepage of our ear-training app (named Earworm)
    Includes a description of the app and a royalty-free stock image.
-->
<include href="views/includes/header.html"></include>
<include href="views/includes/nav.html"></include>

<!--Page Content-->
<div class="container-fluid content">
    <div class="row">
        <div class="col-1 sidebar"></div>
        <div class="col-3 text-end">
            <h2>Our Mission</h2>
            <p>
                Earworm is an ear-training webapp designed to hand control over to the user. The user can practice virtual piano and
                train have pitch correctiong training. Users and also leave feedback about the webapp on comment pace.

            </p><br>
            <h2>About us</h2>
            <p>
                We are a team of two software developers currently studying for a Bachelor's degree.<br>

                Ethan first started coding in his sophomore year in high school with a couple of java classes and has been
                hooked ever since. While he had always been interested in music, he took a much greater interest in piano
                at the start of 2021. When he started searching for a way to improve his perfect pitch, he was
                disappointed by the limited number of options at his disposal.<br>

                <!--TODO: Add Sajal's bio here-->
                Sajal has always been interested in music. He picked up guitar while he was young, however,
                he didn't have much idea about pitch and had a hard time learning about it. While brainstorming
                about project ideas for a class, Ethan came up with the idea of the web app that could let the user help in their
                music journey. Sajal was really interested by the idea as well and decided to work together on it with Ethan.
            </p>
        </div>
        <!--TODO: Figure out why "../" must be inluded-->
        <img src="images/piano.jpg" class="rounded col-7" alt="Piano">

        <div class="col-1 sidebar"></div>
    </div>
</div>
</body>
</html>