<!--
    Name: Ethan Deister, Sajal Khadgi
    Description: Displays a leaderboard with the highest scores achieved by users on quiz.html
    Implemented Requirements:
    1. Dynamic table to display leaderboard data from the server.
-->
<include href="views/includes/header.html"></include>
<include href="views/includes/nav.html"></include>

<!--TODO: Populate table through the model, add header, and add menu for selecting leaderboard category-->
<!--Page Content-->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 sidebar"></div>
    <table class="col-6">
      <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-start">Score</th>
        <th class="text-start">Date Achieved</th>
      </tr>
      </thead>
      <tbody>
      <!-- Loop through the leaderboard data and generate table rows dynamically -->
      <repeat group="{{ @players }}" value="{{ @player }}">
        <tr>
          <td class="text-center">{{ @player.name }}</td>
          <td class="text-start">{{ @player.score }}</td>
          <td class="text-start">{{ @player.date }}</td>
        </tr>
      </repeat>
      </tbody>
    </table>
    <div class="col-3 sidebar"></div>
  </div>
  <p>Page under construction. This page is for practice during summer.</p>
</div>

</body>
</html>
